<!doctype html>
<html>
<head>
  <title><%= title %></title>
  <meta content="Mebelux" name="description">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" name="viewport">

  <link href="public/images/favicon.ico" rel="shortcut icon">
  <link href="public/css/app.css" rel="stylesheet">
  <link href="public/css/awesome_menu_font.css" rel= "awesome style">
  <link type="text/css" href="pubic/css/menu.css" rel="stylesheet">
  
</head>

<body>
  <h1>Mebelux main page</h1>

  <div class="navbar">
    <a href="#home">Home</a>
    <a href="#news">News</a>
    <div class="dropdown">
      <button class="dropbtn">Dropdown 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
  </div>

  <script src="public/js/bundle.js"></script>
</body>
</html>
