<!doctype html>
<html>
<head>
  <title><%= title %></title>
  <meta content="Mebelux" name="description">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" name="viewport">

  <link href="public/images/favicon.ico" rel="shortcut icon">
  <link href="public/css/app.css" rel="stylesheet">
  <link href="public/css/awesome_menu_font.css" rel= "awesome style">
  <link type="text/css" href="public/css/menu.css" rel="stylesheet">
  
</head>

<body>
  <div class="header">
    <h1 class="header__title">Mebelux</h1>
  </div>
  <div class="navbar">
    <a href="#home">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Living Room
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Sofas</a>
        <a href="#">Loveseats</a>
        <a href="#">Sectionals</a>
        <a href="#">Chairs & Chaises</a>
        <a href="#">Sofabeds & Futons</a>
        <a href="#">Recliners</a>
        <a href="#">Ottomans & Benches</a>
        <a href="#">Cabinets & Shelving</a>
        <a href="#">Entertainment Centres</a>
        <a href="#">TV Stands & Mounts</a>
        <a href="#">Coffee Tables</a>
        <a href="#">End & Accent Tables</a>
        <a href="#">Sofa & Console Tables</a>
        <a href="#">Fireplaces & Screens</a>
        <a href="#">Table Packages</a>
        <a href="#">Living Room Packages</a>
      </div>
    </div> 
    <a href="#home">Kids & Baby</a>
    <a href="#home">Garage</a> 
    <div class="dropdown">
      <button class="dropbtn">Dining Room
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Dining Chairs</a>
        <a href="#">Dining Tables</a>
        <a href="#">Counter & Bar Stools</a>
        <a href="#">Dining Packages</a>
        <a href="#">Buffets & Sideboards</a>
        <a href="#">Dining Benches</a>
        <a href="#">Bars, Carts & Islands</a>
        <a href="#">China Cabinets & Curios</a>
      </div>
    </div> 
    <a href="#home">Home Office</a>
    <a href="#home">Hallway</a>
    <div class="dropdown">
      <button class="dropbtn">Bedroom
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">King Beds</a>
        <a href="#">Queen Beds</a>
        <a href="#">Full Beds</a>
        <a href="#">Storage Beds</a>
        <a href="#">Daybeds & Futons</a>
        <a href="#">Headboards & Frames</a>
        <a href="#">Dressers & Chests</a>
        <a href="#">Nights Tables</a>
        <a href="#">Bedroom Mirrors</a>
        <a href="#">Armoires & Vanities</a>
        <a href="#">End Of Bed</a>
        <a href="#">Bedrooom packages</a>
      </div>
    </div> 
    <a href="#home">Storage</a>
    <a href="#home">Bathroom</a>
  </div>

  <script src="public/js/bundle.js"></script>
</body>
</html>
