<!doctype html>
<html>
<head>
  <title><%= title %></title>
  <meta content="Mebelux" name="description">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" name="viewport">

  <link href="public/images/favicon.ico" rel="shortcut icon">
  <link href="public/css/app.css" rel="stylesheet">
  <link href="public/css/awesome_menu_font.css" rel= "stylesheet asfsdf">
  <link type="text/css" href="public/css/menu.css" rel="stylesheet">
  <link type="text/css" href="public/css/menu_gallery.css" rel="stylesheet">

  <!--<script src="public/js/gallery.js"></script>-->
  
</head>

<body>
  <div class="header">
    <h1 class="header__title">Mebelux</h1>
  </div>
  <div class="navbar">
    <a href="#home">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Living Room
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#living_room/sofas">Sofas</a>
        <a href="#living_room/loveseats">Loveseats</a>
        <a href="#living_room/sectionals">Sectionals</a>
        <a href="#living_room/chairs+chaises">Chairs & Chaises</a>
        <a href="#living_room/safabeds+futons">Sofabeds & Futons</a>
        <a href="#living_room/recliners">Recliners</a>
        <a href="#living_room/ottomans+benches">Ottomans & Benches</a>
        <a href="#living_room/cabinets+shelving">Cabinets & Shelving</a>
        <a href="#living_room/entertainment_centres">Entertainment Centres</a>
        <a href="#living_room/tv_stands">TV Stands & Mounts</a>
        <a href="#living_room/coffee_tables">Coffee Tables</a>
        <a href="#living_room/end+accent_tables">End & Accent Tables</a>
        <a href="#living_room/sofa+console_tables">Sofa & Console Tables</a>
        <a href="#living_room/fireplaces+screens">Fireplaces & Screens</a>
        <a href="#living_room/table_packages">Table Packages</a>
        <a href="#living_room/packages">Living Room Packages</a>
      </div>
    </div> 
    <a href="#kids+baby">Kids & Baby</a>
    <a href="#garage">Garage</a> 
    <div class="dropdown">
      <button class="dropbtn">Dining Room
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#dining_room/chairs">Dining Chairs</a>
        <a href="#dining_room/tables">Dining Tables</a>
        <a href="#dining_room/counter+bar_stools">Counter & Bar Stools</a>
        <a href="#dining_room/packages">Dining Packages</a>
        <a href="#dining_room/buffets+sideboards">Buffets & Sideboards</a>
        <a href="#dining_room/dining_room/benches">Dining Benches</a>
        <a href="#dining_room/bars+carts+islands">Bars, Carts & Islands</a>
        <a href="#dining_room/china_cabinets+ccurios">China Cabinets & Curios</a>
      </div>
    </div> 
    <a href="#home_office">Home Office</a>
    <a href="#hallway">Hallway</a>
    <div class="dropdown">
      <button class="dropbtn">Bedroom
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#bedroom/king_beds">King Beds</a>
        <a href="#bedroom/queen_beds">Queen Beds</a>
        <a href="#bedroom/full_beds">Full Beds</a>
        <a href="#bedroom/storage_beds">Storage Beds</a>
        <a href="#bedroom/daybeds+futons">Daybeds & Futons</a>
        <a href="#bedroom/headboards+frames">Headboards & Frames</a>
        <a href="#bedroom/dressers+chests">Dressers & Chests</a>
        <a href="#bedroom/nights_tables">Nights Tables</a>
        <a href="#bedroom/mirrors">Bedroom Mirrors</a>
        <a href="#bedroom/armoires+vaities">Armoires & Vanities</a>
        <a href="#bedroom/end_of_bed">End Of Bed</a>
        <a href="#bedroom/packages">Bedrooom packages</a>
      </div>
    </div> 
    <a href="#storage">Storage</a>
    <a href="#bathroom">Bathroom</a>
  </div>

<div class="row"> 
  <div class="column">
    <img src="public/images/gallery/Furniture_1.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_2.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_3.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_4.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_5.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_6.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_7.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_26.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="public/images/gallery/Furniture_8.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_9.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_10.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_11.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_12.png" style="width:100%">
    <img src="public/images/gallery/Furniture_13.jpg" style="width:100%">
  </div>  
  <div class="column">
    <img src="public/images/gallery/Furniture_14.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_15.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_16.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_17.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_18.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_19.jpg" style="width:100%">
  </div>  
  <div class="column">
    <img src="public/images/gallery/Furniture_20.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_21.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_22.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_23.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_24.jpg" style="width:100%">
    <img src="public/images/gallery/Furniture_25.jpg" style="width:100%">
  </div>  
  


  <script src="public/js/bundle.js"></script>
</body>
</html>
